@media (max-width: 1199px) {
  .service .service__widget p {
    font-size: 1.5rem;
  }
  html {
    font-size: 8px;
  }
}
@media (max-width: 991px) {
  .sliderHome h1 {
    font-size: 5.5rem;
  }
  .box-gray {
    min-height: auto;
    margin-bottom: 3rem;
    padding: 2rem;
  }
  .box-gray2 {
    min-height: auto;
  }
  .navbar-toggler {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #f25b21;
    z-index: 33;
    color: #fff;
    font-size: 14px;
    padding: 7px 10px;
  }
  nav .force-nav ul li.active:after,
  nav .force-nav ul li:hover:after,
  nav .force-nav ul li:after {
    content: none;
    width: 0;
  }
  nav .force-nav ul li:hover a,
  nav .force-nav ul li.active a {
    color: #f25b21;
  }
  .force-brand a {
    position: absolute;
    top: 19px;
    right: 64px;
    width: 98px;
  }
  nav .force-nav ul li a {
    text-align: center;
    display: block;
    font-size: 2rem;
    padding: 1rem;
  }
  nav {
    position: relative;
  }
  #navbar-collapse {
    position: absolute !important;
    width: 100%;
    top: 100%;
    left: 0px;
    z-index: 5545;
    background: #fff;
  }
}
@media (min-width: 991px) {
  nav .collapse {
    /* display: inline-block !important; */
  }
  nav .collapse li {
    display: inline-block !important;
  }
  nav ul.navbar li a {
    display: block;
    text-align: center;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 6px;
  }
  .service .service__widget p {
    font-size: 2rem;
  }
  .card-product {
    height: 160px;
    width: 100px;
  }
  .card-product .card-image {
    height: 100px;
  }
  .register.login .text p {
    font-size: 2rem;
  }
}
@media (max-width: 575px) {
  .custom-btn {
    min-width: 100%;
  }
  .box-gray .form-tel .form-control:nth-child(2) {
    width: 30px;
  }
  .box-gray .form-tel .form-control:last-child {
    width: 35px;
  }
  .box-gray .form-tel .form-control:first-child {
    width: calc(100% - 85px);
  }
}
@media (max-width: 876px) {
  .service .service__widget {
    min-width: 160px;
  }
}
@media (max-width: 1440px) and (min-width: 1200px) {
  html {
    font-size: 9px;
  }
  .card-product {
    width: 120px;
    height: 200px;
  }
  .card-product .card-image {
    height: 120px;
  }
  .service .service__widget p {
    font-size: 1.3rem;
  }
}
