/*Table Content
==========================
    # General
        - Fonts
    # Links
    # Headings
    # Lists
        - Social-List
        - Contact-List
    # Images
*/


/* General
======================= */
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Cairo:400,700&display=swap');

html{
    font-size: 10px
}
body{
    font-size: 1.5rem;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-family: 'Cairo', sans-serif;

}

.mainColor{
    color: #F25B21
}

.custom-btn{
    background-color: #F25B21;
    border: none;
    border-radius: 0;
    color: #FFF;
    padding: 10px;
    min-width: 215px;
    min-height: 50px;
    cursor: pointer;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    margin: 10px 0;
    transition:all .3s cubic-bezier(.53,-.01,0,1.49); 

}
.h-auto{
    min-height: auto !important;
}
.custom-btn:hover{
    box-shadow: none;
}
.custom-btn:focus{
    outline: none
}
/* Links
==========================*/
a{
    color: #F25B21
}
 a:hover, a:focus{
    text-decoration: none;
    color: #F25B21
}

/* Headings 
========================== */
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0;
}
p{
    margin: 0;
}
/*Lists
==========================*/
ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Images
=========================== */
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* Section Setting
============================ */ 
.section-lg{
    padding: 50px 0;
}
/* Nav
============================ */
nav{
    background-color: #F2F2F2;
    box-shadow: -25px 6px 16px 0px rgba(0,0,0,0.05);
    padding: 1rem 3rem !important;
    position: relative;
}
nav .force-brand{
    
}
nav .force-brand img{ 
    width: 15rem;
}
nav .force-nav{
    
}
nav .force-nav ul{
    position: relative;
}
nav .force-nav ul li{
    margin: 0 1rem;
    position: relative; 
}
nav .force-nav ul li:after{
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    transform-origin: right;
    width: 0;
    height: 2px;
    background-color: #F25B21;
    transition: all 0.3s ease-in-out
}
nav .force-nav ul li.active:after,
nav .force-nav ul li:hover:after{
    width: 50%;
}
nav .force-nav ul li a{
    color: #5E5E5E;
    font-weight: bold
}
nav .force-nav .register{
    position: relative;
    cursor: pointer;
    vertical-align: middle;
}
.navbar-toggler {
    display: none;
  }
nav .force-nav ul .register a{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.collapse {
    display: none;
}
.user-image {
    width: 4.7rem;
    height: 4.7rem;
    border-radius: 50%;
    overflow: hidden;
}
.user-image img{
    width: 100%;
    height: 100%;
    object-fit: cover
}
.drop-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 2rem;
    background-color: #FFF;
    color: #616161;
    font-size: 1.3rem;
    border: 0.5px solid #5E5E5E;
    z-index: 999;
    width: 270px;
    font-weight: bold;
   opacity: 0;
   visibility: hidden;
   transition:all .3s cubic-bezier(.53,-.01,0,1.49); 


}
.drop-menu.active{
    opacity: 1;
    visibility: visible;
   
}
.drop-menu::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: calc(50% - 10px);
    border-width: 8px;
    border-style: solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #FFF;
    border-right-color: transparent 
}
.drop-menu::before{
    content: "";
    position: absolute;
    bottom: 100%;
    left: calc(50% - 11px);
    border-width: 9px;
    border-style: solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #5E5E5E;
    border-right-color: transparent 
}
.drop-menu .price{
    font-weight: bold
}
.drop-menu .price p{
    font-size: 1.1rem
}
.drop-menu .price span{
    color: #F25B21;
    font-size: 1.6rem
}
.drop-menu .group{
    font-weight: bold

}
.drop-menu .group p{
    font-size: 0.8rem;
}
.drop-menu .group span{
    font-size: 1.4rem
}

/* sliderHome
============================ */
.sliderHome{
    height: calc(100vh - 78px);
    background: linear-gradient(rgba(0,0,0,0.34),rgba(0,0,0,0.34)),url(../images/bg.png);
    background-size: cover;
    color: #FFF;
    position: relative;
}
.sliderHome h1{
    font-size: 6.5rem;
    margin-bottom: 2rem
}
.sliderHome p{
    font-size: 2.5rem;
    margin-bottom: 5rem
}
.sliderHome button{
    display: inline-block;
    width: 60px;
    height: 5rem;
    background-color: #F25B21;
    border: none;
    box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16);
    text-align: center;
    vertical-align: bottom
}
.sliderHome button img{
    margin: auto
}
.sliderHome .form-group{

}
.sliderHome .form-group .form-control{
    display: inline-block;
    height: 5rem;
    width: calc(100% - 65px);
    box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16);
    border: none;
    border-radius: 0;
    font-size: 1.5rem;
    padding: 10px 15px;

}
.bottom-news{
    position: absolute;
    bottom: 3rem;
    height: 6.6rem;
    padding: 2rem;
    left: 3rem;
    right: 3rem;
    background-color: rgba(255,255,255,0.1)
}
/* card-product
============================ */
.card-product{
    height: 220px;
    width: 150px;
    text-align: center;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px
}
.card-product a{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.card-product .card-image{
    width: 100%;
    height: 150px;
    border-radius: 26px;
    overflow: hidden;
    border:1px solid #707070
}
.card-product p,
.card-product span {
    font-size: 1.8rem;
}
/* bank-widget
======================*/ 
.bank-widget{
    background-color: #F2F2F2;
    padding: 15px;
    text-align: center
}
.bank-widget .bank-widget__item{
    margin-bottom: 15px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: -25px 6px 16px 0px rgba(0, 0, 0,0.05)
    
}
.bank-widget .bank-widget__item:last-child{
    margin: 0
}
.bank-widget__item p{
    font-size: 15px
}
/*service
=========================*/
.service{
    background-color: #F2F2F2;
    padding: 15px ;
    margin: 15px  0;
    box-shadow: -25px 6px 16px 0px rgba(0, 0, 0,0.05);
    
}
.service .service__widget{
    background-color: #FFF;
    color: #5E5E5E;
    display: inline-flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 50px;
    align-items: center;
    border: 1px dashed transparent;
    transition: all 0.3s ease-in-out;
    position: relative;
    min-width: 180px;
}
.service .service__widget a{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.service .service__widget a:focus{
    outline: none
}
.service .service__widget img{
    margin-left: 15px;
    height: 20px;
}
.service .service__widget:hover{
    border: 1px dashed  #5E5E5E
}
.service .service__widget p {
    font-size: 1.5rem
}
/* box-gray
=============================*/ 
.box-gray{
    background-color: #F2F2F2;
    padding: 5rem;
    min-height: 85vh;
}
.box-gray h2{
    font-size: 3.5rem;
    font-weight: bold;
    color: #4B4B4B;
    margin-bottom: 3rem;
}
.box-gray h3{
    font-size: 2.3rem;
    color: #7D7D7D;
    margin-bottom: 5rem;
    
}
.box-gray h4{
    color: #4B4B4B;
    font-size: 2.8rem;
    font-weight: bold;
    margin: 3rem 0;
}
.box-gray .form-control{
    height:5.5rem;
    font-size: 1.5rem;
    
    border-radius: 0;
    transition:all .3s cubic-bezier(.53,-.01,0,1.49); 
    margin-bottom:2rem;
    background-color: #F7F7F7;
    padding: 1rem;
}
.box-gray .form-control:focus{
    color: #F25B21;
}
.box-gray .form-control:focus{
    outline: none;
    border: 1px solid #F25B21;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.11);
}
.box-gray .form-tel {
    overflow: hidden;
    margin-bottom: 0
}
.box-gray .form-tel .form-control{
    float: right;
}
.box-gray .form-tel .form-control:first-child{
    width: calc(100% - 130px)
}
.box-gray .form-tel .form-control:last-child{
    width: 60px;
    margin-right: 10px;
    text-align: center
}
.box-gray .form-tel .form-control:nth-child(2){
    width: 50px;
    margin-right: 10px;
    text-align: center;
}
.box-gray a:hover{
    text-decoration: underline
}
.box-gray p{
    color: #5E5E5E
}
/* custom-control
=========================*/ 
.custom-control{

}

.custom-control-label::after,
.custom-control-label::before{
    width: 1.5rem;
    height: 1.5rem;
    top: 3px
}

.custom-control-label {
    margin-right: 1.5rem;
}
.custom-control-input:checked~.custom-control-label::before{
    background-color: #F25B21 !important;
    box-shadow: 0 0 0px 1px #F2F2F2 ,0 0 0px 2px #F25B21 ;
    border-radius: 0;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before{
    border-radius: 50%
}
/* breadcrumb
===================*/ 
.breadcrumb{
    background-color: transparent
}
/* box-gray2
==================*/ 
.scrollable{
    max-height: 400px;
    overflow-y: scroll;
}
.box-gray2{
    background-color: #F8F8F8;
    border:0.5px solid #4B4B4B;
    padding: 2rem;
    text-align: center;
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0.3rem
}
.box-gray2 p{
    font-size: 1.8rem;
    
}
.box-gray2 p.width{
    max-width: 892px;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}
.box-gray2 h5{
    font-size: 1.5rem
}
.box-gray2 span{
    display: block;
    color: #808080;
    margin: 1rem 0 0 0;
    font-size: 2rem
}
.copylink{
    display: inline-block
}
.copylink img{
    margin-left: 10px;
    display: inline-block;
    width: 1.5rem
}

.input-group-append {
    height: 5.5rem;

}
.input-group-text{
    background-color: #F9F9F9;
    width: 5.5rem;
    justify-content: center;
}
select.form-control:not([size]):not([multiple]) {
    height: 5.5rem;
}
/* product
====================*/ 
.product{
    height: 150px;
}
.product-info .widget{
    background-color: #F8F8F8;
    border: 0.5px solid #4B4B4B;
    padding: 2rem;
    border-bottom: none;
}
.product-info .widget:last-child{
    border-bottom: 0.5px solid #4B4B4B;
}
.product-info .widget p{
    font-size: 2rem
}
.product-info .widget.widget-bold{
    font-weight: bold;
}
/* table
========================*/ 
table {
    font-size: 1.3rem
}
table thead{

}
table thead tr{

} 
table thead tr th{
    vertical-align: middle !important;
}
table tbody tr{

} 
table tbody tr th{
    color: #F25B21
}
table tbody tr td{

}
table tbody tr:hover td,
table tbody tr:hover th{
    border-top: 1px solid #F25B21;
    border-bottom: 1px solid #F25B21;
}
/* footer
=============================*/ 
footer{
    background-color: #333333;
    padding: 2.5rem 2rem;
}
footer p {
    color: #7B7A7A;
    font-size: 1.6rem;
}
footer img{
    filter: grayscale(1);
    width: 105px;
}
/*
accordion
=======================*/
.drop-menu #accordion{
    text-align: center;
    font-size: 1.4rem
}
.drop-menu #accordion .card{
    border-radius: 0;
    border: 0
}
.drop-menu #accordion .card .card-header{
    border-radius: 0;
    background-color: transparent;
    border: 0;
    padding: 0;
   
}
.drop-menu #accordion .card .card-header .card-link {
    background-color: #F25B21;
    color: #FFF;
    display: block;
    padding: 1rem;
    transition: background-color 0.3s ease-in-out;
    
}
.drop-menu #accordion .card .card-header .card-link.collapsed{
    background-color: transparent;
    color: #616161;
}
.drop-menu #accordion .card .card-body{
    background-color: #F25B21;
    color: rgba(255,255,255,0.5);
    box-shadow: inset 0 3px 6px 0 rgba(0,0,0,0.16);
}
.drop-menu #accordion .card .card-body a{
    color: rgba(255,255,255,0.5);
    display: block;
    padding: 0.5rem;
    border-bottom: 0.3px solid rgba(255,255,255,0.5);
    position: relative;

}
.drop-menu #accordion .card .card-body a:hover{
    color: #FFF
}
.drop-menu #accordion .card .card-body a:last-child{
    border: 0
}
.drop-menu #accordion .card .card-body a:after{
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    right: 0;
    border: 3px solid rgba(255,255,255,0.5);
}
.drop-menu #accordion .card .card-body a:hover:after{
    border-color: #FFF;
}